@font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('../fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('../fonts/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}
    
*{
    margin: 0;
}
body{
    font-family: 'SF UI Display Medium';
    color: #333333;
}
.container{
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    
}
.header{
    font-family: 'SF UI Display Bold';
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 85px;
}
.header h4{
    display: none;
}
.header__icon{
    width: 41px;
    height: 41px;
    background: url("../icons/logo.png") 100% 100% no-repeat;
    background-size: cover;
    margin-right: 12px;
}
.add-button{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
.add-button:hover{
    background-color: #06d85f;
}
.classmates{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
}
.classmate{
    position: relative;
    display: flex;
    width: 300px;
    margin: 16px;
}
.classmate__info{
    margin-left: 12px;
    color: #7A91B5;
}
.classmate__name{
    color:#333333;
}
.classmate__course{
    font-size: 14px;
    margin-right: 16px;
}
.classmate__city{
    font-size: 14px;
} 
.classmate__image{
    width: 80px;
    height: 80px;
}
.button_delete{
    display: none;
    right: 19px;
    top: 10px;
    position: absolute;
    background-image: url(../icons/delete.svg);
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}
.button_delete:hover{
    background-color: #06d85f;
}
.button_edit{
    display: none;
    right: 19px;
    top: 50px;
    position: absolute;
    background-image: url(../icons/edit.png);
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}
.button_edit:hover{
    background-color: #06d85f;
}
.classmate:hover .button_delete{
    display: block;
}
.classmate:hover .button_edit{
    display: block;
}
@media screen and (max-width:400px){
    .container{
        width: 375px;
        padding: 0px;
        height: auto;
    }
    .classmates{
        flex-wrap: nowrap;
    }
    .classmate{
        margin: 0;
        padding: 16px;
    }
    .header{
        margin: 0;
        height: 41px;
        text-align: center;
        background-color: #364968;
    }
    .header h4{
        display: block;
        font-size: 18px;
        margin: 0 auto;
        color: #FFFFFF;
    }
    .header__icon{
        width: 16px;
        height: 16px;
        background: url("../icons/left_arrow.svg") 100% 100% no-repeat;
        background-size: cover;
        margin-right: 0px;
        margin-left: 20px;
    }
    .add-button{
        margin-right: 20px;
        height: 20px;
        width: 20px;
    }
    .header h1{
        display: none;
    }
    .classmate__image{
       width: 56px;
       height: 56px;
    }
    .classmate__name{
        font-size: 14px;
    }
    .classmate__course{
        font-size: 12px;
    }
    .classmate__city{
        display: none;
    }
    .button_delete{
        display: block;

        background-image: url(../icons/delete_mobile.svg);
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-size: 14px 14px;
    }
    .button_edit{
        display: block;
        background-image: url(../icons/edit.png);
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-size: 14px 14px;
    }
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
 }
 
 .overlay.opened {
    visibility: visible;
    opacity: 1;
 }
 
 .popup {
    margin: 5px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 600px;
    max-width: 100vw;
    position: relative;
    transition: all 5s ease-in-out;
 }
 
 .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
 }
 
 .popup__close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
 }
 
 .popup__close:hover {
    color: #06d85f;
 }
 
 @media screen and (max-width: 700px) {
    .box {
       width: 70%;
    }
    .popup {
       width: 70%;
    }
 }
 
 .kitty-form {
    display: flex;
    flex-direction: column;
 }
 
 .form-group {
    display: flex;
    margin-bottom: 10px;
    align-items: baseline;
 }
 
 .form-group__label {
    width: 130px;
    font-size: 16px;
 
    margin-right: 10px;
    text-align: right;
    flex-shrink: 0;
    flex-grow: 0;
 }
 
 .form-group__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
 }
 
 .form-group__input-error {
    display: block;
    margin-top: 2px;
    height: 12px;
    font-size: 12px;
    color: red;
 }
 
 .form-group__input {
    width: 100%;
    line-height: 30px;
    font-size: 16px;
    padding: 0 6px;
 }
 
 .my-form__submit {
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin: auto;
 }

 .card{
    font-family: 'SF UI Display Medium';
    font-size: 12px;
    display: flex;
    width: 310px;
    height: 140px;
    background-color: white;
    border: solid 2px black;
    padding: 10px;
}

.row-content{
    color: #7A91B5;
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
}

.full-name{
    margin: 0 0 13px 0;
    font-family: 'SF UI Display Bold';
    font-size: 15px;
}

.info_student{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.city::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 14px;
    background-image: url(../icons/location.svg);
    background-size: 12px 14px;
    
}

.education::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    background-image: url(../icons/education.svg);
    background-size: 13px 13px;
    
}

.phone::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background-image: url(../icons/phone.svg);
    background-size: 12px 12px;
    
}

.mail::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    background-image: url(../icons/mail.svg);
    background-size: 13px 13px;
}

.photo-student{
    width: 104px;
    height: 104px;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.communication{
    display: flex;
    margin: 9px 0 0 0;
    list-style-type: none;
    padding: 0;
}
.communication a{
    text-decoration: none;
}
.com-icons{
    height: 13px;
    width: 13px;
    padding-right: 13px;
}